.activity_container {}

.activity_section {
    margin-top: 20px;
}

.activity_section>div {
    display: flex;
    align-items: center;
}

.activity_section div>h2 {
    font-size: 22px;
    color: #444;
    font-weight: 400;
}

.activity_section div>span {
    background-color: #444;
    display: inline-block;
    flex: 1;
    height: 1px;
    margin-left: 20px;
}

.activities_list {
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.activities_list li {
    width: calc(33.3% - 10px);
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 4px 8px #b2b2b2;
    transition: all 0.2s ease-in;
}

.activities_list li:hover {
    background-color: #ddd;
}

.activities_list li a {
    padding: 15px 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.activities_list li h3 {
    font-size: 18px;
    color: #333;
    font-weight: 400;
}

.activities_list li h4 {
    margin-top: 3px;
    font-size: 16px;
    color: #555;
    font-weight: 400;
}

.activities_list li h5 {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
    font-weight: 400;
    align-self: flex-end;
}