.activity_section {
    margin-top: 20px;
}

.activity_section>div {
    display: flex;
    align-items: center;
}

.activity_section div>h2 {
    font-size: 22px;
    color: #444;
    font-weight: 400;
}

.activity_section div>span {
    background-color: #444;
    display: inline-block;
    flex: 1;
    height: 1px;
    margin-left: 20px;
}

.activities_list {
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}