.chat_container {
    /* background-color: #fff; */
}

.chat_section {
    display: flex;
}

.side_panel ul {
    width: 400px;
    list-style: none;
}

.side_panel li {
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
}

.side_panel .profile {
    background-color: #ccc;
    border-radius: 50%;
    padding: 2px;
}

.side_panel .profile svg {
    font-size: 40px;
    color: #fff;
}

.conversation_summary {
    flex: 1;
    margin-left: 20px;
}

.conversation_summary>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversation_summary>div h3 {
    font-size: 18px;
    font-weight: 400;
}

.conversation_summary>div h5 {
    font-size: 14px;
    font-weight: 400;
}

.conversation_summary .message_details {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.conversation_summary .message_details svg {
    margin-right: 5px;
    font-size: 18px;
}

.conversation_summary .message_details span {
    font-size: 14px;
    font-weight: 400;
}

.conversation_summary .message_details .unread {
    margin-left: 5px;
    background-color: var(--accent-color);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.conversation_summary .unread span {
    font-size: 14px;
    color: #fff;
}