.chat_li {
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    margin: 0;
    border-bottom: 1px solid #8696A0;
}

.selected {
    background-color: #2A3942;
}

.profile {
    background-color: #ccc;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile svg {
    font-size: 36px;
    color: #fff;
}

.conversation_summary {
    flex: 1;
    margin-left: 20px;
}

.conversation_summary>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conversation_summary>div h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.conversation_summary>div h5 {
    color: #8696A0;
    font-size: 14px;
    font-weight: 400;
}

.message_details {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.message_details svg {
    color: #8696A0;
    margin-right: 5px;
    font-size: 18px;
}

.message_details>span {
    color: #8696A0;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.selected .message_details>span {
    color: #fff;
}

.unread {
    margin-left: 5px;
    background-color: var(--accent-color);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.unread span {
    font-size: 14px;
    color: #fff;
}