.budget_form_container>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.budget_form_container>div h2 {
    font-size: 22px;
    color: #444;
    font-weight: 400;
}

.budget_form_container>div .btn_style {
    border: 1px solid red;
}

.budget_form_container>div .btn_style:hover {
    background-color: red;
}

.budget_form_container>div .icon_style {
    color: red;
}

.form {
    width: 600px;
    margin-top: 15px;
}

.form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.form fieldset legend {
    color: #444;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}