.user_container {
    height: 100%;
}

.user_container>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_container>div h2 {
    font-size: 22px;
    color: #444;
    font-weight: 400;
}

.user_section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 1px 2px 8px #c5c5c5;
}

.form fieldset {

    display: flex;
    flex-direction: column;
    border: none;
    padding: 5px 0;
}

.form fieldset legend {
    color: #444;
    font-size: 18px;
    font-weight: 500;
}