.user_section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_section div>h2 {
    font-size: 22px;
    color: #444;
    font-weight: 400;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form label {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.form label input {
    flex: 1;
    background: none;
    border: none;
    border-bottom: 1px solid #444;
    padding: 20px 5px 5px 10px;
    color: #444;
    transition: all 0.2s ease-in;
}

.form label input:focus {
    outline: none;
    border-bottom: 1px solid var(--accent-color);
}

.form label span {
    position: absolute;
    left: 10px;
    color: #444;
    font-size: 14px;
    pointer-events: none;
}

.form label input:focus+span {
    top: 0;
    left: 0;
    color: var(--accent-color);
}

.form label input:valid+span {
    top: 0;
    left: 0;
    color: #444;
}

.form input[type="submit"] {
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 10px 0;
    background: none;
    cursor: pointer;
    color: var(--accent-color);
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.2s ease-in;
}

.form input[type="submit"]:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    box-shadow: 1px 1px 4px #888;
}