nav {
    background-color: var(--main-color);
    width: 270px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.menu_header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 25px 0;
    position: relative;
    margin-left: 25px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>.icon {
    background-color: var(--accent-color);
    border-radius: 5px;
    padding: 5px;
    font-size: 30px;
}

.logo>span {
    margin-left: 15px;
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.menu_header>.menu_icon {
    color: var(--secondary-color);
    font-size: 25px;
    position: absolute;
    right: 5px;
}

.menu_header>img:hover {
    cursor: pointer;
}

.menu_options {
    margin-top: 10px;
    list-style: none;
    overflow-y: scroll;
    height: 100%;
    margin-left: 25px;
    margin-right: 3px;
}

.menu_options::-webkit-scrollbar {
    width: 5px;
}

.menu_options::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 8px;
}

.menu_options::-webkit-scrollbar-track {
    background: var(--alternative-color);
    border-radius: 8px;
}