.text_box {
    background-color: #202C33;
    display: flex;
    padding: 15px;
    border-top: 1px solid #0C1317;
}

.text_box>div {
    background-color: #2A3942;
    width: 100%;
    display: flex;
    margin-right: 10px;
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
    transition: all 0.2s ease-in;
}

.text_box textarea {
    background: none;
    flex: 1;
    outline: none;
    border: none;
    resize: none;
    color: #fff;
    font-size: 14px;
}

.text_box textarea::placeholder {
    color: #7C8B95;
    font-size: 14px;
}

.text_box textarea::-webkit-scrollbar {
    width: 5px;
}

.text_box textarea::-webkit-scrollbar-thumb {
    background-color: #7C8B95;
}

.text_box .send_btn {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    align-self: flex-end;
}

.text_box .send_btn svg {
    font-size: 34px;
    color: #7C8B95;
}