@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-color: #141412;
  --secondary-color: #FFFFFF;
  --accent-color: #F36130;
  --alternative-color: #343432;
}

#container {
  display: flex;
}

main {
  position: relative;
  top: 60px;
  left: 270px;
  width: calc(100% - 270px);
  padding: 15px 30px;
  background-color: #e5e5e5;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  width: 10px;
}

main::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  /* border-radius: 8px; */
}

main::-webkit-scrollbar-track {
  background: var(--alternative-color);
  /* border-radius: 8px; */
}